.nav{
  background-color: rgb(32, 59, 59);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 26;
  font-weight: bold;
}